body {
  margin: 0;
}

header {
  position: relative;
  height: 895px;
  background: url(/img/main.png) no-repeat;
  background-color: #fff;
  background-position: center center;
  background-size: cover;
  border-top: 1px solid transparent;
}

header:before {
  display: block;
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: #fff;
  opacity: 0.5;
}

header:after {
  display: block;
  position: absolute;
  content: "";
  z-index: 10;
  bottom: -10px;
  height: 151px;
  width: 100%;
  background: url(/img/trap.png) no-repeat;
  background-color: transparent;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.main-navigation {
  max-width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.main-navigation .display-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 205px;
}

.main-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 650px;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  list-style: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main-navigation ul li a {
  font-family: Lato, Arial;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.1s text-shadow;
  transition: 0.1s text-shadow;
}

.main-navigation ul li a:hover {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.description {
  max-width: 960px;
  padding-right: 10px;
  margin: 0 auto;
  margin-top: 165px;
  padding-left: 10px;
}

.description h2 {
  width: calc(43.75% - 10px);
  font-family: Lato, Arial, sans-serif;
  font-weight: 300;
  font-size: 52px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

.description p {
  width: calc(43.75% - 10px);
  font-family: Lato, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  line-height: 25px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

.hamburger {
  padding: 15px 15px;
  display: none;
  position: relative;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  float: right;
  top: 30px;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Slider
   */

.hamburger--slider .hamburger-inner {
  top: 2px;
}

.hamburger--slider .hamburger-inner::before {
  top: 10px;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
}

.hamburger--slider .hamburger-inner::after {
  top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner::before {
  -webkit-transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -20px, 0) rotate(-90deg);
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}

@media screen and (max-width: 960px) {
  .main-navigation {
    padding-left: 10px;
    padding-right: 10px;
  }

  .main-navigation {
    padding-left: 10px;
    padding-right: 10px;
  }

  .main-navigation .display-menu {
    min-height: 0;
  }

  .description {
    padding-left: 10px;
    padding-right: 10px;
  }

  .description {
    padding-left: 10px;
    padding-right: 10px;
  }

  .description h2 {
    width: calc(43.75% - 10px);
  }

  .description p {
    width: calc(43.75% - 10px);
  }
}

@media screen and (max-width: 780px) {
  .main-navigation {
    padding-left: 10px;
    padding-right: 10px;
  }

  .main-navigation ul {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 100%;
    min-height: 0;
    -webkit-transition: 0.5s min-height;
    transition: 0.5s min-height;
    -webkit-transition: .5s display;
    transition: .5s display;
  }

  .main-navigation ul li {
    text-align: right;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .main-navigation ul li a {
    padding: 5px;
    font-size: 25px;
  }

  .description {
    padding-left: 10px;
    padding-right: 10px;
  }

  .description {
    margin-top: 110px;
    padding: 0 20px 0 20px;
  }

  .description h2 {
    width: calc(100% - 10px);
  }

  .description p {
    width: calc(100% - 10px);
  }

  .hamburger {
    display: inline-block;
  }
}

@media screen and (max-width: 560px) {
  .main-navigation {
    padding-left: 10px;
    padding-right: 10px;
  }

  .description {
    padding-left: 10px;
    padding-right: 10px;
  }

  .description {
    margin-top: 110px;
    padding: 0 20px 0 20px;
  }

  .description h2 {
    width: calc(100% - 10px);
  }

  .description h2 {
    font-size: 30px;
  }

  .description p {
    width: calc(100% - 10px);
  }
}