- var colForList = "col-md-6"

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width; initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Lato:300,400,400i,700")
    link(rel="stylesheet", href="css/index.css")
  body
    header        
      img.logo(src="img/logo.png", alt="Лого")
      nav.main-navigation
        .hamburger.hamburger--slider
          .hamburger-box
          .hamburger-inner
        ul
          li
            a(href="#") Commercial
          li
            a(href="#") Industrial
          li
            a(href="#") Infrastructure
          li
            a(href="#") Resources
          li
            a(href="#") Utilities
      .description
        h2 I want you feel what you wanted.
        p Trent from punchy pint when lets get some snag. Get a dog up ya moolah piece of piss trent from punchy slaps. Shazza got us some chuck a sickie heaps he hasn't got a kindie. As stands out like bush telly with as stands out like porky. She'll be right pretty spiffy trent from punchy cab sav.
    script(src="js/index.js")
    main
      
    footer
